.scenario-screen {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  flex-direction: column;
}

.scenario-screen .header h1 {
  font-size: 16pt;
  margin: 0;
  padding-left: 16px;
}

.scenario-screen .options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.scenario-screen .options li {
  background: #009FE3;
  display: block;
  min-height: 32px;
  color: white;
  padding: 8px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.scenario-screen .options li.selected {
  background: white;
  border: 2px solid #009FE3;
  color: #009FE3;
  padding: 6px;
  
  transition: all .5s;
}

.scenario-screen .options li .text {
  flex: 1;
}

.scenario-screen .options li .checkbox {
  background: white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.scenario-screen .options li .checkbox .check {
  display: none;
  width: 24px;
  height: 24px;
  margin: 4px;
}

.scenario-screen .options li.animating {
  position: relative;
}

.scenario-screen .options li.correct {
  background: #3FA535;
}

.scenario-screen .options li.wrong {
  background: rgb(175, 0, 4);
}

.scenario-screen .options li.correct .checkbox .check {
  display: inline;
  stroke-dasharray: 640;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: draw-around 1s;
}

.scenario-screen .replay {
  margin-top: 16px;
  background: #009FE3;
  border: 0;
  color: white;
  padding: 16px 32px;
}

.scenario-screen .motivation {
  font-size: smaller;
}

.scenario-screen .situation {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.scenario-screen .situation .right-option {
  font-weight: bold;
}

.scenario-screen .inset {
  width: 50%;
  position: absolute;
  left: -50%;
  background: rgba(255, 255, 255, 0.9);
  padding-right: 16px;
  padding-left: 16px;
  /* padding-top: 32px; */
  height: 100%;
  box-sizing: border-box;
}

.scenario-screen .inset .yesno {
  display: flex;
}

.scenario-screen .inset .yesno button{
  width: 94px;
}


.scenario-screen .situation-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}

.scenario-screen .scene {
  max-height: 100%;
  max-width: 100%;
}

.scenario-screen .title {
  height: 48px;
  margin-left: 48px;
  line-height: 48px;
  font-size: larger;
}

.scenario-screen .balloon {
  position: absolute;
  right: 16px;
  background-color: #fff;
  padding: 1.125em 1.5em;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
  margin: 8px;

  animation: pop 0.5s ease-out .5s;
  transform: scale(0);
  animation-fill-mode: forwards;
}

@keyframes pop {
  10% { transform: scale(0.25);}
  50% { transform: scale(1);}
  100% { transform: scale(1);}
}

@keyframes fadein {
  0% { opacity: 0; }  
  100% { opacity: 1; }
}

.scenario-screen .balloon.speech {
  border-radius: 16px;
}

.scenario-screen .balloon.caption span {
  visibility: hidden;
  /** will be shown via gsap animation */
}

.scenario-screen .balloon span.visible {
  visibility: visible;
}

.scenario-screen .balloon-arrow {
  background: url("./images/text-balloon-arrow.png");
  width: 16px;
  height: 32px;
  position: absolute;
  right: 33%;
  margin-top: -2px;
}


.scenario-screen .balloon.balloon-44::before {
  left: 44%;
}
.scenario-screen .balloon.balloon-15::before {
  left: 15%;
}
.scenario-screen .balloon.balloon-69::before {
  left: 69%;
}
.scenario-screen .balloon.balloon-75::before {
  left: 75%;
}

.scenario-screen .controls-bottomright {
  position: absolute;
  right: 8px;
  bottom: 16px;
}

.scenario-screen .reaction-text {
  animation: fadein .2s linear;
}

@keyframes fadein {
    0% { opacity: 0; }  
    100% { opacity: 1; }
}